body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -0.25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
input:hover,
input:focus {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.active {
  color: #3a7cfd;
}

.primary {
  color: #9495a5;
}

.App {
  min-height: 100vh;
}

.bgDark {
  background-color: #171823;
}

@media (max-width: 560px) {
  .check {
    width: 7.25px;
    height: 5px;
  }
}
